# extends 'base.html'
# import 'macro/forms.html' as forms

# block header
  <div class="jumbotron">
    <div class="container">
      <h1>{{config.CONFIG_DB.brand_name}}</h1>
      <p>Hello, world!</p>
    </div>
  </div>
# endblock

# block content
  <form method="POST" action="." novalidate>
    {{form.csrf_token}}

    {{forms.textarea_field(form.content)}}
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Sign Guestbook
    </button>
  </form>

  # for greeting_db in greeting_dbs
    <hr>
    <blockquote>
      <p>{{greeting_db.content}}</p>
      <div class="small">
        <time class="text-success pull-right" datetime="{{greeting_db.created.__str__()[:-3]}}">
          {{greeting_db.created.strftime('%Y-%m-%d')}}
        </time>

        # if greeting_db.user_key
          <img src="{{greeting_db.user_key.get().avatar_url_size(36)}}" width="18">
          {{greeting_db.user_key.get().name}}
        # else
          Anonymous
        # endif
      </div>
    </blockquote>
  # endfor
# endblock
